body {
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    background-color: #111;
    color: white;
}

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    padding: 40px 20px;
}

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Home Background */

.bg-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("/images/55.jpg.webp");
}


/* Login Background */

.bg-login {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.85)), url("/images/image.png");
}


/* Chat Background */

.bg-chat {
    background-color: #111;
    /* مثلاً بدون صورة */
}